:root {
    --main-bg-color: #FFFFFF;
    --home-primary-color: #058C42;
    --title-primary-color: #707070;
}
  
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-bg-color);
    color: var(--title-primary-color);
    padding: 0;
    margin: 0;
    margin-top: -20px;
    font-family: 'Montserrat';
}

/* TABLE OF CONTENTS
    I - Navbar design

*/



/* I - NavBar design */

.nav-background {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: var(--home-primary-color);
    color: var(--main-bg-color);
    opacity: 1;
    z-index: 1;
}
.wave {
    position: absolute;
    width: 200%;
    height: 70px;
    bottom: 0px;
    background: url('../assets/wave.png');
    background-repeat: repeat-x;
    background-size: 50% 75px;
    transform-origin: center bottom;
    animation: waves 4s linear infinite;
}
@keyframes waves {
    0% {transform: translateX(0) translateZ(0) scaleY(1)}
    0% {transform: translateX(-25%) translateZ(0) scaleY(.5)}
    0% {transform: translateX(-50%) translateZ(0) scaleY(1)}
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    padding: 50px 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.link {
    list-style-type: none;
    text-align: center;
    line-height: 18px;
    height: 18px;
    font-size: 18px;
    padding: 10px;
    border-radius: 1000px;
    color: var(--main-bg-color);
    transition: 0.3s;
}
.link:hover {     
    background: #FFFFFF;
    color: var(--home-primary-color);
    transition: 0.3s;
}

.link > a {
    text-decoration: none;
    color: var(--main-bg-color);
}
.link > a:hover {
    
    color: var(--home-primary-color);
}

.selected {
    border: 3px solid var(--main-bg-color);
    border-radius: 1000px
}

#logo {
    font-size: 56px;
    font-weight: bold;
    margin: -10px 100px 0 0;
}

#hub {
     border-radius: 10px;
     background: #FFFFFF;
     color: var(--home-primary-color);
     font-weight: bold;
     text-align: center;
     padding: 1px;
}

#login {
    border-radius: 25px;
    background: #FFFFFF;
    color: var(--home-primary-color);
    font-weight: bold;
    text-align: center;
    
}
#login > a {
    color: var(--home-primary-color);
}

#particles-js
{
    height: 40%;
    opacity: 1;
    position: fixed ;
}







